body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #004D44;
}

textarea {
    border: 2px solid #004D44;
}

textarea,
button,
pre {
    margin-top: 10px;
}

button {
    padding: 8px 16px;
    background-color: #004D44;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #008172;
}

pre {
    background-color: #eef7f6;
    padding: 10px;
    border: 2px solid #004D44;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    overflow-x: auto;
    max-width: 30%;
}